body {
    background-image: url(../../assets/loginImage.jpg);
    background-size: cover;
    min-height: 100vh;
}

mat-card {
    background-color: whitesmoke;
    padding: 20px 20px;
    height: 300px;
}

button{
    float: right;
    margin-top: 15px;
}

.login{
    padding-top: 10%;
}

.signUp{
    margin-top: 10px;
}