img {
    width: 800px;
    height: 600px;
}

.form-group, button{
    margin: 20px 10px 0px 0px;
}

button{
    float: right;
}

mat-card{
    margin-top:20px;
    margin-bottom: 20px;
}

.row{
    margin-right: 20px;
}